/* ***************************************************** *
    DISCLAIMER:

    ESTA PAGINA WEB NO ES VALIDA, ESTA CONSTRUIDA CON PROPOSITOS 
    DE APRENDIZAJE EN ***ITLA***

    ADMINISTRACION DE PROYECTOS DE SOFTWARE
    AZPIRE - PORTAL DE CONTROL DE MIGRACIONES
    2020-C-2
    << EMIL PEREZ BARRANCO || ALLYSSON MOSCOSO MENA >>
* ***************************************************** */

/*  Variables   */
:root {
    --main: #1b212c;
    --sec: #82c7a5;
    --alt: #0145ac;
    --esc: #f2f2f2;
}

/*  Global Styling  */
* {
    box-sizing: border-box;
    overflow-x: hidden !important;
    transition: all 0.3s ease 0s;
}

/*  Styling  */
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed";
    background-color: var(--esc);
}

.nortic-seal {
    width: 20%;
    text-align: center;
}

.nortic-nav {
    padding-top: 20px;
    background-color: #f9f9f9;
    color: var(--main);
}

.nortic-nav img {
    width: 100%;
    margin: auto;
}

.nortic-text {
    padding-top: 10px;
    font-size: .7rem;
    color: var(--main);
    text-transform: uppercase;
    cursor: pointer;
}

.nortic-brand {
    font-weight: 400;
    font-size: 1.2rem;
}

.accent {
    font-weight: bold;
    font-size: 3rem;
    color: var(--sec);
}

.nortic-upper-panel {
    background-color: var(--alt);
    color: var(--esc);
    text-decoration: none !important;
}

a {
    color: var(--esc);
}

a:hover {
    color: var(--sec);
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.btn {
    border-color: var(--sec);
    color: var(--sec)
}

.btn:hover {
    color: var(--sec);
}

h3 {
    color: var(--alt);
}

ion-icon {
    font-size: 3rem;
    color: var(--sec);
}